.list-style {
  height: 8em;
  overflow-y: auto;
  font-size: large;
  // width: 5em;
  // text-align: center;
  padding: 0 10px;
  margin: auto;
  border: solid 2px #673AB7;
}

.filter {
  margin: auto;
  width: fit-content;
}

.list-item:hover {
  background-color: #673AB7;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  float: 1;
}
